* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f6f8;
}

html, body {
  font-size: 16px; 
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 2px solid #ccc;
  padding: 10px 30px;
  height: 70px;
  position: sticky;
  top: 0;
}

.Logo{
  height: 60px;
  width: auto;
  object-fit: contain;
  display: block;

}

.logo-section
{
    margin-top: 0px;
}

.title-section {
  flex: 1;
  text-align: center;
}

.title-section h1 {
  font-size: 22px;
  color: #2f3640;
  font-weight: 600;
}

.logout-section button {
  background-color: #00a8ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.logout-section button:hover {
  background-color: #40739e;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  max-width: 1000px;
  margin: 10px auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 180px;
}

.btn-save {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: right;
}

.btn-save:hover {
  background-color: #0056b3;
}

button {
  padding: 6px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.form-group input {
  position: relative;
  padding-right: 35px;  /* Reserve space for camera icon */
}

